<nav class="md:hidden relative z-50 w-full ">
    <div class="flex py-2 justify-between items-center px-4 ">

        <div class="visible flex items-center">
            <button id="open" (click)="showMenu()" [ngClass]="(show? 'hidden':'focus:outline-none focus:ring-2 focus:ring-black')" class="shrink-0 shadow-sm bg-white">
              <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/large_typography_with_gradient_and_glass_effect_Svg2.svg" alt="menu" />
          </button>
            <ul [ngClass]="(show? 'p-2 border-r bg-white absolute rounded top-0 left-0 right-0 shadow mt-20 w-36':'hidden') ">
                <li class="flex cursor-pointer text-gray-600 text-sm leading-3 tracking-normal mt-2 py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none">
                    <a href="#" class="ml-2 focus:outline-none focus:ring-2 focus:ring-black">
                        <span class="font-bold">Home</span>
                    </a>
                </li>
                <li class="flex cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none">
                    <a href="#" class="ml-2 focus:outline-none focus:ring-2 focus:ring-black">
                        <span class="font-bold">About Us</span>
                    </a>
                </li>
                <li class=" cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 flex items-center focus:text-indigo-700 focus:outline-none">
                    <a href="#" class="ml-2 focus:outline-none focus:ring-2 focus:ring-black">
                        <span class="font-bold">Pricing</span>
                    </a>
                </li>
                <li class="flex cursor-pointer text-gray-600 text-sm leading-3 tracking-normal py-2 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none">
                    <a href="#" class="ml-2 focus:outline-none focus:ring-2 focus:ring-black">
                        <span class="font-bold">Resources</span>
                    </a>
                </li>
                <li class="flex cursor-pointer text-gray-600 text-sm leading-3 tracking-normal pt-2 pb-4 hover:text-indigo-700 focus:text-indigo-700 focus:outline-none">
                    <a href="#" class="ml-2 focus:outline-none focus:ring-2 focus:ring-black">
                        <span class="font-bold">Sign In</span>
                    </a>
                </li>
            </ul>
            <div class="md:hidden">
                <button [ngClass]="(show? 'close-m-menu focus:ring-2 focus:ring-black focus:outline-none':'hidden')" (click)="showMenu()">
                  <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/large_typography_with_gradient_and_glass_effect_Svg3.svg" alt="close" />
              </button>
            </div>
        </div>
    </div>
</nav>

<ul class="hidden space-x-8 text-sm font-medium md:flex">
    <li class="cursor-pointer hover:text-gray-300 ease-in">
        <a href="#" class="focus:outline-none focus:ring-2 focus:ring-white">Home</a>
    </li>
    <li class="pl-3 lg:pl-5 xl:pl-8 cursor-pointer hover:text-gray-300 ease-in">
        <a href="#" class="focus:outline-none focus:ring-2 focus:ring-white">About Us</a>
    </li>
    <li class="pl-3 lg:pl-5 xl:pl-8 cursor-pointer hover:text-gray-300 ease-in">
        <a href="#" class="focus:outline-none focus:ring-2 focus:ring-white">Pricing</a>
    </li>
    <li class="pl-3 lg:pl-5 xl:pl-8 cursor-pointer hover:text-gray-300 ease-in">
        <a href="#" class="focus:outline-none focus:ring-2 focus:ring-white">Resources</a>
    </li>
</ul>