<div class="relative w-screen  bg-black items-center justify-center">
    <div class="absolute w-screen h-screen ">
        <img src={{link}} lt="" class=" w-screen h-1/2  object-cover" />
    </div>
    <div class="absolute w-screen h-1/4 ">
        <owl-carousel-o [options]="customOptions" (initialized)="getData($event)" (translated)="getPassedData($event)">
            <ng-container *ngFor="let slide of dynamicSlides">
                <ng-template carouselSlide="carouselSlide">
                    <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" class="rounded-lg object-cover" /></ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</div>