<!-- <div class="bg-amber-300" cdkDropListGroup>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-8" cdkDropList [cdkDropListData]="user" *ngFor="let user of users" (cdkDropListDropped)="drop($any($event))">
        <div class="p-4 mt-3 bg-cyan-400 rounded-md flex items-center justify-center" cdkDrag>
            <p>{{user.name.first}}</p>
        </div>
    </div>

</div> -->

<div cdkDropListGroup>
    <div #board class="board">
        <div class="grid-container">
            <div *ngFor="let user of users; let i = index">
                <div class="grid-item" cdkDropList [cdkDropListData]="user" (cdkDropListDropped)="drop($event)" [style.background]="i == indexOver ? 'red' : 'yellowgreen'">
                    <div cdkDrag>
                        {{user.name.first}}
                        <div *cdkDragPlaceholder></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button (click)="submitList()">Submit</button>