<div class="">
    <ul>
        <li *ngFor="let item of collection | paginate: config">{{ item }} +</li>
    </ul>
</div>

<pagination-template #p="paginationApi" [id]="config.id!" (pageChange)="config.currentPage = $event">
    <div class="flex max-w-screen-xl  px-4 py-8 mx-auto sm:px-6 lg:px-8 justify-center items-center ">
        <a (click)="p.previous()" class="px-4 py-2 mx-1  text-gray-500 capitalize bg-white rounded-md cursor-pointer dark:bg-gray-900 dark:text-gray-600 hover:bg-blue-500 dark:hover:bg-blue-500 hover:text-white dark:hover:text-gray-200">
            <div class="flex items-center -mx-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M7 16l-4-4m0 0l4-4m-4 4h18"
          />
        </svg>

                <span class="mx-1"> previous </span>
            </div>
        </a>

        <div class="justify-center items-center flex" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
            <a class="hidden px-4 py-4 mx-1 text-gray-700 transition-colors duration-200 transform bg-white rounded-md sm:inline dark:bg-gray-900 dark:text-gray-200 hover:bg-blue-500 dark:hover:bg-blue-500 hover:text-white dark:hover:text-gray-200" (click)="p.setCurrent(page.value)"
                *ngIf="p.getCurrent() !== page.value">
                <span>{{ page.label }}</span>
            </a>
            <div class="hidden px-4 py-4  mx-1 text-gray-700 transition-colors duration-200 transform bg-white rounded-md sm:inline dark:bg-gray-900 dark:text-gray-200 hover:bg-blue-500 dark:hover:bg-blue-500 hover:text-white dark:hover:text-gray-200" *ngIf="p.getCurrent() === page.value">
                <span>{{ page.label }}</span>
            </div>
        </div>

        <a *ngIf="!p.isLastPage()" (click)="p.next()" [class.disabled]="p.isLastPage()" class="px-4 py-2 mx-1 text-gray-700 transition-colors duration-200 transform bg-white rounded-md dark:bg-gray-900 dark:text-gray-200 hover:bg-blue-500 dark:hover:bg-blue-500 hover:text-white dark:hover:text-gray-200">
            <div class="flex items-center -mx-1">
                <span class="mx-1"> Next </span>

                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17 8l4 4m0 0l-4 4m4-4H3"
          />
        </svg>
            </div>
        </a>
    </div>
</pagination-template>