<div class=" dark:bg-gray-900">
    <form [formGroup]="registerComicsForm" (ngSubmit)="saveRegisterComic()">
        <div class="form-group flex">
            <div class="w-screen lg:w-3/4">
                <div class="flex-col">
                    <label for="comicName">
                        <div class="flex text-xl mt-5 dark:text-white">
                            <p class="text-red-600 mx-2 lg:ml-64">*</p>
                            Comic name
                        </div>
                    </label>
                    <input formControlName="comicName" type="text" id="comicName" class="bg-gray-50 lg:ml-64 border border-gray-300 text-gray-900 mt-2 text-sm rounded-xl block w-11/12  mx-5  lg:w-1/2  p-2.5" placeholder="name" required />

                    <label for="author">
                        <div class="flex text-xl mt-5 lg:ml-64 dark:text-white">
                            <p class="text-red-600 mx-2">*</p>
                            Author
                        </div>
                    </label>
                    <input type="text" formControlName="author" id="author" class="bg-gray-50 border border-gray-300 lg:ml-64 text-gray-900 mt-2 text-sm rounded-xl block w-11/12 lg:w-1/2 mx-5 p-2.5" placeholder="name" required />
                    <!-- Commic Category -->
                    <label for="category">
                        <div class="flex text-xl mt-5 lg:ml-64 dark:text-white">
                            <p class="text-red-600 mx-2">*</p>
                            Comic Category
                        </div>
                    </label>

                    <ng-select formControlName="category" id="category" (change)="changeSelected(selected)" [items]="cars" bindLabel="name" placeholder="Select Category" [multiple]="true" [(ngModel)]="selected" name="category" class="text-sm block w-11/12 lg:w-1/2 ml-4 p-2.5 lg:ml-64">
                    </ng-select>

                    <label for="tags">
                        <div class="flex text-xl mt-5 lg:ml-64 dark:text-white">
                            <p class="text-red-600 mx-2">*</p>
                            Comic tags
                        </div>
                    </label>

                    <ng-select formControlName="tags" id="tags" (change)="changeSelected(selectedTags)" [items]="tags" bindLabel="name" placeholder="Select Tags" [multiple]="true" [(ngModel)]="selectedTags" name="tags" class="text-sm block w-11/12 lg:w-1/2 ml-4 p-2.5 lg:ml-64">
                    </ng-select>

                    <label for="introduction">
                        <div class="flex text-xl mt-5 lg:ml-64 dark:text-white">
                            <p class="text-red-600 mx-2">*</p>
                            Introduction
                        </div>
                    </label>
                    <textarea formControlName="introduction" id="introduction" rows="4" class="block p-2.5 w-11/12 lg:w-1/2 lg:ml-64 mx-5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:text-black dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Leave an introduction..."></textarea>
                    <!-- Ratting -->

                    <label for="ratting">
                        <div class="flex text-xl mt-5 lg:ml-64 dark:text-white">
                            <p class="text-red-600 mx-2">*</p>
                            Ratting
                        </div>
                    </label>
                    <div class="lg:ml-64 ">
                        <ul>
                            <li *ngFor="let item of ratting">
                                <div class="form-check text-xl flex mt-4">
                                    <div class="flex items-center h-5">
                                        <input formControlName="ratting" class="form-check-input appearance-none rounded-full h-5 w-5 mx-5 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200  align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                            [(ngModel)]="radioSelected" name="ratting" value="{{item.name}}" (change)="onItemChange(item)" type="radio" id="ratting" aria-describedby="ratting-item" />
                                    </div>
                                    <div class="ml-2 text-xl lg:-mt-3">
                                        <label for="ratting-item" class="font-medium text-gray-900 dark:text-gray-300 ">{{item.id}}</label>
                                        <p id="ratting-item" class="text-sm font-normal text-gray-500 dark:text-gray-300">
                                            {{item.name}}
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <!-- begin Quote -->
            <div class="hidden lg:flex lg:w-1/4 mt-4 lg:p-5">
                <div class="max-w-4xl p-4 text-gray-800 bg-white rounded-lg shadow relative lg:h-1/4">
                    <div class="mb-2">
                        <div class="h-3 text-3xl text-left text-gray-600">“</div>
                        <p class="px-4 text-sm text-center text-gray-600">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam obcaecati laudantium recusandae, debitis eum voluptatem ad, illo voluptatibus temporibus odio provident.
                        </p>
                        <div class="h-3 text-3xl text-right text-gray-600">”</div>
                    </div>
                    <img src="assets/img/tips.png" alt="tips" class="absolute -top-10 right-0" />
                </div>
            </div>
            <!-- end Quote -->
        </div>
        <div class=" flex items-center justify-center mx-3 py-3">
            <div class="lg:w-2/3"></div>
            <div class="lg:w-1/3">
                <button class="shadow bg-slate-400 hover:bg-slate-800 focus:shadow-outline focus:outline-none text-white text-sm py-1 px-5 rounded-full" type="button">
          Cancel
        </button>
                <button class="mx-4 shadow bg-orange-600 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white text-sm py-1 px-5 rounded-full" type="submit">
          Next
        </button>
            </div>
        </div>
    </form>
</div>